@import "~vuetify/src/styles/settings/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap");

$body-font-family: "Jost", sans-serif;

html,
body,
.v-application {
  font-family: $body-font-family;
}

.v-application {
  .display-4,
  .display-3,
  .display-2,
  .display-1,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .body-1,
  .body-2,
  .caption,
  .overline {
    font-family: $body-font-family !important;
  }
}
